# *Importing packages*

In [1]:
import os
import json
import random
import sqlite3
import sqlparse
import pandas as pd
import numpy as np
import mysql.connector

# *Uploading Airbnb_Open_Data csv file*

In [2]:
df = pd.read_csv('Airbnb_Open_Data.csv')
df.head()

C:\Users\bonas\AppData\Local\Temp\ipykernel_11284\1202269202.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

# *Checking data stats*

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

# *Looking at the columns in the Airbnb Data in United states*

In [4]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

# *Deleting the reduntant columns*

In [5]:

columns_to_drop = ['license', 'country', 'country code']

In [6]:
df.drop(columns=columns_to_drop,inplace=True)

# *Dropping the duplicates*

In [7]:
df.duplicated().sum()

541

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

0

# *Removing the NaN values*

In [10]:
df.isna().sum()

id                                    0
NAME                                250
host id                               0
host_identity_verified              289
host name                           404
neighbourhood group                  29
neighbourhood                        16
lat                                   8
long                                  8
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   214
price                               247
service fee                         273
minimum nights                      400
number of reviews                   183
last review                       15832
reviews per month                 15818
review rate number                  319
calculated host listings count      319
availability 365                    448
house_rules                       51842
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isna().sum()

id                                0
NAME                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
lat                               0
long                              0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
last review                       0
reviews per month                 0
review rate number                0
calculated host listings count    0
availability 365                  0
house_rules                       0
dtype: int64

# *Cleaning individual columns*

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39551 entries, 0 to 102040
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              39551 non-null  int64
 1   NAME                            39551 non-null  object
 2   host id                         39551 non-null  int64
 3   host_identity_verified          39551 non-null  object
 4   host name                       39551 non-null  object
 5   neighbourhood group             39551 non-null  object
 6   neighbourhood                   39551 non-null  object
 7   lat                             39551 non-null  float64
 8   long                            39551 non-null  float64
 9   instant_bookable                39551 non-null  object
 10  cancellation_policy             39551 non-null  object
 11  room type                       39551 non-null  object
 12  Construction year               39551 non-null  float64
 13  price                           39551 non-null  object
 14  service fee                     39551 non-null  object
 15  minimum nights                  39551 non-null  float64
 16  number of reviews               39551 non-null  float64
 17  last review                     39551 non-null  object
 18  reviews per month               39551 non-null  float64
 19  review rate number              39551 non-null  float64
 20  calculated host listings count  39551 non-null  float64
 21  availability 365                39551 non-null  float64
 22  house_rules                     39551 non-null  object
dtypes: float64(9), int64(2), object(12)
memory usage: 7.2+ MB

## Service fee

In [14]:
df['service fee']

0         $193
1          $28
4          $41
5         $115
7         $212
          ...
102025    $176
102028    $199
102029    $164
102031    $216
102040    $196
Name: service fee, Length: 39551, dtype: object

In [15]:
df['service fee'] = df['service fee'].str.split('$').str[1]
df['service fee']

0         193
1          28
4          41
5         115
7         212
          ...
102025    176
102028    199
102029    164
102031    216
102040    196
Name: service fee, Length: 39551, dtype: object

## Price

In [16]:
df['price']

0           $966
1           $142
4           $204
5           $577
7         $1,060
           ...
102025      $878
102028      $994
102029      $822
102031    $1,078
102040      $982
Name: price, Length: 39551, dtype: object

In [17]:
df['price'] = df['price'].str.split('$').str[1].str.replace(',','')
df['price']

0          966
1          142
4          204
5          577
7         1060
          ...
102025     878
102028     994
102029     822
102031    1078
102040     982
Name: price, Length: 39551, dtype: object

In [18]:
df.head(1)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,...,966,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...

# *Create a new csv file with cleaned data*

In [19]:
df.to_csv('updated_airbnb_data.csv', index=False)

# *Create the airbnb_nyc schema*

In [20]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Bonakele.1"
)
cursor = conn.cursor()

# Create and select the database FIRST
cursor.execute("CREATE DATABASE IF NOT EXISTS airbnb_nyc")
cursor.execute("USE airbnb_nyc")

## Create tables in schema
- Come up with table and column names
- Insert values for tables with unique and few rows
- Upload cleaned airbnb_nyc df for schema creation
- Standardize column names

In [21]:
# Neighbourhood Groups
cursor.execute("""
CREATE TABLE IF NOT EXISTS neighbourhood_groups (
    neighbourhood_group_id INT AUTO_INCREMENT PRIMARY KEY,
    neighbourhood_group VARCHAR(50) NOT NULL UNIQUE
)
""")

# Neighbourhoods
cursor.execute("""
CREATE TABLE IF NOT EXISTS neighbourhoods (
    neighbourhood_id INT AUTO_INCREMENT PRIMARY KEY,
    neighbourhood VARCHAR(200) NOT NULL,
    neighbourhood_group_id INT NOT NULL,
    UNIQUE (neighbourhood, neighbourhood_group_id),
    FOREIGN KEY (neighbourhood_group_id) REFERENCES neighbourhood_groups(neighbourhood_group_id)
)
""")

# Room Types
cursor.execute("""
CREATE TABLE IF NOT EXISTS room_types (
    room_type_id INT AUTO_INCREMENT PRIMARY KEY,
    type VARCHAR(50) NOT NULL UNIQUE
)
""")

# Cancellation Policies
cursor.execute("""
CREATE TABLE IF NOT EXISTS cancellation_policies (
    cancellation_policy_id INT AUTO_INCREMENT PRIMARY KEY,
    policy VARCHAR(50) NOT NULL UNIQUE
)
""")

# Hosts
cursor.execute("""
CREATE TABLE IF NOT EXISTS hosts (
    host_id BIGINT PRIMARY KEY,
    host VARCHAR(100),
    identity_verified VARCHAR(20)
)
""")

# Listings
cursor.execute("""
CREATE TABLE IF NOT EXISTS listings (
    listing_id BIGINT PRIMARY KEY,
    listing VARCHAR(255),
    host_id BIGINT NOT NULL,
    neighbourhood_id INT,
    latitude DECIMAL(10, 8),
    longitude DECIMAL(11, 8),
    room_type_id INT,
    construction_year INT,
    price DECIMAL(10, 2),
    service_fee DECIMAL(10, 2),
    minimum_nights INT,
    number_of_reviews INT,
    last_review DATE,
    reviews_per_month DECIMAL(5, 2),
    review_rate_number INT,
    calculated_host_listings_count INT,
    availability_365 INT,
    instant_bookable BOOLEAN,
    cancellation_policy_id INT,
    house_rules TEXT,
    FOREIGN KEY (host_id) REFERENCES hosts(host_id),
    FOREIGN KEY (neighbourhood_id) REFERENCES neighbourhoods(neighbourhood_id),
    FOREIGN KEY (room_type_id) REFERENCES room_types(room_type_id),
    FOREIGN KEY (cancellation_policy_id) REFERENCES cancellation_policies(cancellation_policy_id)
)
""")

cursor.execute("INSERT IGNORE INTO neighbourhood_groups (neighbourhood_group) VALUES ('Brooklyn'), ('Manhattan'), ('Queens'), ('Bronx'), ('Staten Island')")
cursor.execute("INSERT IGNORE INTO room_types (type) VALUES ('Private room'), ('Entire home/apt'), ('Shared room')")
cursor.execute("INSERT IGNORE INTO cancellation_policies (policy) VALUES ('strict'), ('moderate'), ('flexible')")
conn.commit()

df = pd.read_csv("updated_airbnb_data.csv")

# Standardize column names
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

# Insert values in tables 

- Insert values for tables with more rows
- Using cleaned airbnb_nyc df

In [22]:
# Insert unique neighbourhoods
neighbourhoods = df[['neighbourhood', 'neighbourhood_group']].drop_duplicates()

for _, row in neighbourhoods.iterrows():
    group_name = row['neighbourhood_group']
    if pd.notnull(group_name):  # Skip if it's NaN
        group_name = str(group_name)  # Convert to string just in case
        cursor.execute("SELECT neighbourhood_group_id FROM neighbourhood_groups WHERE neighbourhood_group = %s", (group_name,))
        group_id = cursor.fetchone()
        if group_id:
            # Now insert into neighbourhoods table
            cursor.execute("""
                INSERT IGNORE INTO neighbourhoods (neighbourhood, neighbourhood_group_id)
                VALUES (%s, %s)
            """, (row['neighbourhood'], group_id[0]))

# Insert unique hosts  
hosts = df[['host_id', 'host_name', 'host_identity_verified']].drop_duplicates()

# Ensure types are correct
hosts['host_id'] = hosts['host_id'].astype(int)
hosts['host_name'] = hosts['host_name'].astype(str)
hosts['host_identity_verified'] = hosts['host_identity_verified'].astype(str)

# Now insert
for _, row in hosts.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO hosts (host_id, host, identity_verified)
        VALUES (%s, %s, %s)
    """, (row['host_id'], row['host_name'], row['host_identity_verified']))

# Insert unique listings
df_clean = df.dropna(subset=['neighbourhood', 'room_type', 'cancellation_policy', 'host_name'])

# Ensure all lookup columns are the correct types
df_clean['neighbourhood'] = df_clean['neighbourhood'].astype(str)
df_clean['room_type'] = df_clean['room_type'].astype(str)
df_clean['cancellation_policy'] = df_clean['cancellation_policy'].astype(str)
df_clean['host_name'] = df_clean['host_name'].astype(str)

# Insert listings
for _, row in df_clean.iterrows():
    cursor.execute("SELECT neighbourhood_id FROM neighbourhoods WHERE neighbourhood = %s", (row['neighbourhood'],))
    neighbourhood_id = cursor.fetchone()

    cursor.execute("SELECT room_type_id FROM room_types WHERE type = %s", (row['room_type'],))
    room_type_id = cursor.fetchone()

    cursor.execute("SELECT cancellation_policy_id FROM cancellation_policies WHERE policy = %s", (row['cancellation_policy'],))
    cancellation_policy_id = cursor.fetchone()

    # Insert listing
    cursor.execute("""
        INSERT IGNORE INTO listings (
            listing_id, listing, host_id, neighbourhood_id, latitude, longitude,
            room_type_id, construction_year, price, service_fee,
            minimum_nights, number_of_reviews, last_review, reviews_per_month,
            review_rate_number, calculated_host_listings_count, availability_365,
            instant_bookable, cancellation_policy_id, house_rules
        )
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['id'], row['name'], row['host_id'], neighbourhood_id[0] if neighbourhood_id else None,
        row['lat'], row['long'], room_type_id[0] if room_type_id else None,
        row['construction_year'], row['price'], row['service_fee'],
        row['minimum_nights'], row['number_of_reviews'], row['last_review'],
        row['reviews_per_month'], row['review_rate_number'],
        row['calculated_host_listings_count'], row['availability_365'],
        bool(row['instant_bookable']), cancellation_policy_id[0] if cancellation_policy_id else None,
        row['house_rules']
    ))

conn.commit()

# *Create Database file*

In [23]:
# Connect to MySQL
mysql_conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Bonakele.1",
    database="airbnb_nyc"
)
mysql_cursor = mysql_conn.cursor()

# Connect to SQLite (creates airbnb_nyc.db if it doesn't exist)
sqlite_conn = sqlite3.connect("airbnb_nyc.db")

# List of table names to transfer
tables = [
    "neighbourhood_groups",
    "neighbourhoods",
    "room_types",
    "cancellation_policies",
    "hosts",
    "listings"
]

# Transfer each table from MySQL to SQLite
for table in tables:
    df = pd.read_sql(f"SELECT * FROM {table}", mysql_conn)
    df.to_sql(table, sqlite_conn, if_exists="replace", index=False)
    print(f"Transferred table: {table}")

# Close connections
mysql_cursor.close()
mysql_conn.close()
sqlite_conn.close()

C:\Users\bonas\AppData\Local\Temp\ipykernel_8856\3943947059.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", mysql_conn)

Transferred table: neighbourhood_groups
Transferred table: neighbourhoods
Transferred table: room_types
Transferred table: cancellation_policies
Transferred table: hosts
Transferred table: listings

In [24]:
# Load your database and create a database connection.
# You can connect to the sql database in any way you wish. 
# Use this method if you are unsure how to proceed. 
# Ensure the bike_store.db file is in the same directory as this notebook.
try:
    with sqlite3.connect("airbnb_nyc.db") as conn:
        print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")

except sqlite3.OperationalError as e:
    print("Failed to open database:", e)

# List all tables in the database
pd.read_sql('''SELECT name FROM sqlite_master WHERE type='table';''',conn)     #Does the same thing

Opened SQLite database with version 3.49.1 successfully.

                    name
0   neighbourhood_groups
1         neighbourhoods
2             room_types
3  cancellation_policies
4                  hosts
5               listings