# SQL EXAM Model Solution

## SECTION A: Theory Predicts Multiple choice

#### Question 1/10

Brooklyn’s housing authority has launched a crackdown on illegal short-term 
rentals. CityBnB’s internal data reveals clusters of listings in Williamsburg and 
Bushwick suspected to be operated by commercial entities posing as individual 
hosts. Your task is to identify hosts with multiple listings to help investigators 
prioritize enforcement. 

##### Which SQL clause would you use? 

>GROUP BY host_id HAVING COUNT(*) > 1

#### Question 2/10 

CityBnB’s leadership is preparing a presentation for New York City Council to 
demonstrate compliance with short-term rental laws. They need a month-by-month 
breakdown of 2024 bookings to prove seasonal demand aligns with housing 
availability regulations. The bookings table uses YYYY-MM-DD formatting. 

##### Which query generates the required report? 

> SELECT MONTH(booking_date), COUNT(*) 
> FROM bookings 
> WHERE YEAR(booking_date) = 2024 
> GROUP BY MONTH(booking_date);

#### Question 3/10

Chinatown’s community board reports a surge in vacant "ghost listings" that sit 
empty year-round, exacerbating housing shortages. CityBnB must calculate the 
percentage of listings marked "available" in the calendar table but with zero 
bookings to address public concerns. 

##### Which method calculates this accurately?

> (COUNT(*) * 100.0) / (SELECT COUNT(*) FROM calendar)

#### Question 4/10 

CityBnB is partnering with a real estate analytics firm to study housing trends. The 
firm requests a non-duplicated list of property types (e.g., "entire apartment," 
"private room") to analyze market saturation in high-demand areas like Manhattan 
and Queens.

##### Which SQL clause ensures unique property types?

>DISTINCT

#### Question 5/10 

A whistleblower in Sandton Heights—a luxury rental hotspot—claims that 30% of 
high-end listings are fake, using stock photos and fabricated reviews. CityBnB’s 
fraud team needs to identify the top 5 hosts by listing count for further 
investigation. 

##### What does this query detect? 

> Hosts with multiple listings, possible commercial operators

#### Question 6/10 

Users complain that CityBnB’s search filters fail to show affordable options in 
Harlem. The product team adds a "Budget-Friendly" filter for listings under 
$300/night but needs to validate the query before deployment. 

##### Which SQL query works?

>SELECT * FROM listings WHERE price < 300;

#### Question 7/10 

Following a data breach, CityBnB’s security team mandates an audit of hosts with 
unverified identities. The host_identity_verified column uses 'True'/'False' strings. 
Failure to comply could result in fines under New York’s short-term rental laws. 

##### Which SQL expression counts unverified hosts? 

>COUNT(CASE WHEN host_identity_verified = 'False' THEN 1 END)

#### Question 8/10 

A viral TikTok video exposes a "party house" in Astoria with 25+ noise complaints. 
CityBnB’s legal team needs to flag listings with >10 "noise" or "party" reviews AND >90% occupancy 
(booked ≥329 days/year) to avoid liability. 

##### Which query meets both conditions?

>WITH problematic_listings AS ( 
SELECT listing_id, COUNT(*) AS noise_reports 
FROM reviews 
WHERE comment ILIKE '%noise%' OR comment ILIKE '%party%' 
GROUP BY listing_id 
HAVING COUNT(*) > 10 
) 
SELECT l.id, l.name, p.noise_reports 
FROM listings l 
JOIN problematic_listings p ON l.id = p.listing_id 
WHERE l.availability_365 < 36;  -- 365 - 36 = 329 days booked

#### Question 9/10 

Scenario: A junior analyst’s query crashes CityBnB’s dashboard during a live demo 
to investors. The intended goal was to display high-rated properties (>4 stars) in 
Tribeca for a premium marketing campaign. 

##### What’s wrong with this syntax? 
- SELECT * FROM properties WHERE rating > 4 ORDER;

>The keyword ORDER should be ORDER BY

#### Question 10/10 

Scenario: As CityBnB scales to 50+ cities, redundant "host_status" entries (e.g., 
10,000 rows with 'superhost') slow down updates. The engineering team proposes 
normalizing this into a separate host_status table. 

##### What’s the primary advantage?

>To avoid redundant data and simplify updates

## SECTION B: Practical questions with applied multiple choice
You are provided with a pre-populated SQLite database named `airbnb.db`. Download [here](https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata) if you haven't already. Your task is to explore this database and write a series of SQL queries to perform the tasks detailed below. Queries should be optimised to run within 20 seconds or less.

The tables and columns included in the `airbnb.db` are:

- `listings`: `id`, `host_id`, `name`, `neighbourhood_id`, `latitude`. `longitude`, `room_type_id`, ` construction_year`, `number_of_reviews`, `last_review`, `reviews_per_month`, `review_rate_number`, `calculated_host_listings_count` ,  `availability_365`, `instant_bookable`, `cancellation policy`, `house_rules`, `license`  
- `hosts`: `id`, `name`, `identity_verified`
- `neighbourhoods`: `id`, `name`, `neighbourhood_group_id`
- `neighbourhood_groups`: `id`, `name`
- `room types`: `id`, `type`
- `cancellation_policies`: `id`, `policy`

<div style="text-align: center;">
    <img src="ERD_airBnB.png" alt="Airbnb ERD" width="800"/>
</div>

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///airbnb_nyc.db

#### Question 1
You are analyzing the Airbnb listings dataset for San Francisco. The dataset contains a table named neighborhoods which lists each unique neighborhood by its ID.<br> 
How many <strong>unique</strong> neighborhoods are there in this dataset?

#### Options

- 150<br>
- 200<br>
- 218<br>
- 250<br>

In [33]:
%%sql

SELECT COUNT(neighbourhood_id) 
FROM neighbourhoods;

 * sqlite:///airbnb_nyc.db
Done.

[(218,)]

#### Question 2 

Airbnb listings are being reviewed to identify <strong>properties</strong> that are listed but have <strong>zero availability</strong> throughout the entire year. These are often called “ghost listings” because they appear on the platform but cannot actually be booked.<br>
Write a sql query to detect listings that are not active but present in the Airbnb.

Based on the dataset, which of the following statements is TRUE?

#### Options

- All listings have some availability throughout the year, so there are no ghost listings.<br>
- There are several listings with zero availability, including “Chill in Alphabet City” and “Modern loft in great neighborhood.”<br>
- Listings with zero availability only exist in Brooklyn.<br>
- Listings with zero availability are always luxury apartments.<br>

In [5]:
%%sql 

SELECT listing
FROM listings
WHERE availability_365 = 0;

 * sqlite:///airbnb_nyc.db
Done.

[('Chill in Alphabet City',),
 ('Modern loft in great neighborhood',),
 ('Upper West Side apartment with balcony',),
 ('Your home away from home...',),
 ('Sunny and spacious apartment in Brooklyn',),
 ('Spacious Room with Character in BK',),
 ('Modern 3 BR home, 4 blocks from Public Transport!',),
 ('Fun, Comfy, and Convenient Studio in Midtown West',),
 ('beautiful one bedroom apartment',),
 ('Chic 1 br with huge private garden',),
 ('Cozy Studio in Midtown',),
 ('Cozy room in Times Square .',),
 ('Bright and modern 1 BR in Williamsburg w/balcony',),
 ('Best of Wall Street (Full Studio ALL yours)',),
 ('comfortable private room in Hamilton Heights',),
 ('Bright Spacious BK Room with Bath',),
 ('Beautiful & spacious apartment on Upper East Side',),
 ('1BR Apartment in Historic Park Slope Brownstone',),
 ('Big, Bright 1 Bedroom b/w Columbia, City College',),
 ('Cozy Private Room in Share Apartment near Midtown',),
 ('Huge Sunny Bedroom, 20 min to Times Square!',),
 ('Cute Apartment for 2-4 people, IDEAL location NYC',),
 ('Classic Room in Vintage Loft',),
 ('Cozy room w balcony in penthouse w private terrace',),
 ('Perfect bedroom. Near Subways Columbia CityCollege',),
 ('Big & Sunny Apartment in Williamsburg',),
 ('Hosting Harlem Brownstone Apartment',),
 ('Greenwich Village Apartment',),
 ('Private sun-filled 1-bedroom apt with own backyard',),
 ('Great, light filled room with ensuite private bath',),
 ('Prime Williamsburg Modern Charm, steps to park',),
 ('Cozy Lodge Chic in the heart of New York.',),
 ('Sunny 2BR in townhouse on cutest E Vill block',),
 ('Small Homey Studio in a Big Noisy City',),
 ('Great Empty Apartment for you.',),
 ('Peaceful room:an AlmostEmpty Apartment of your own',),
 ('Lovely Room for A Real, Cozy Brooklyn Experience',),
 ('Private sanctuary close to Central park',),
 ('One bedroom APT in Prospect Park',),
 ('Modern turn of century Brooklyn apartment.',),
 ('Cozy bedroom in Harlem, NY',),
 ('Luxury condo, full floor - Master w/lvg rm+ 2 ba!',),
 ('Chic Union Square One Bedroom',),
 ('Ideal place in trendy part of Brooklyn.',),
 ('Renovated 1br w/ private bath steps from the train',),
 ('Beautiful Room in a Classic Harlem Neighborhood!',),
 ('MANHATTAN Budget Shared Room East harlem',),
 ('Sofa bed in bright & beautiful apt (with rooftop)',),
 ('Private bedroom hideaway in East Village gem',),
 ('Beautiful Clean Studio in Midtown East',),
 ('Spacious 1 Bedroom with Backyard in Williamsburg',),
 ('Cozy home in Astoria Queens.',),
 ('Perfect Stay to see all of Manhattan Sites',),
 ('Elegant Apartment for Holidays in East Village',),
 ('The Double U',),
 ('Cozy 1 Bedroom on the Upper West Side',),
 ('Comfortable home in the heart of it all',),
 ('Beautiful huge room with a lovely Bay Window',),
 ('East Village room with a view',),
 ('Quiet Railroad Style Apartment',),
 ('Your Best NY location',),
 ('Studio apartment; close to tourist attractions',),
 ('Wyndham Midtown 45 (2 Bedroom Presidential) 4A',),
 ('Simple Private Rm w/ Futon in the Bronx/ Storage',),
 ('NYC HUB GuestRoom: Train @ 900ft; midtown 30min!',),
 ('Beautiful 1 Bdrm w/ Large Private Patio',),
 ("Bright Artist's Loft on the Lower East Side",),
 ('Harlem Peace Quarters',),
 ('Spacious 2bd apt with Manhattan view and sunset',),
 ('Cozy Manhattan apartment!',),
 ('Fam-Friendly Brooklyn Brownstone w. Vintage charm',),
 ('Gorgeous 1 Bedroom on the Park',),
 ('Spacious bedroom suite in Brooklyn brownstone',),
 ('Private Bedroom in Upper East Side',),
 ("★☆Sunnyside☆-Locals' favorite neighbor for living-",),
 ('Studio near times grand central, Times Square, UN',),
 ('Bronx Home',),
 ('Renovated Bathroom and floor with PRIVATE Backyard',),
 ('Industrial-Chic Room Available in Artist Loft',),
 ('Ft. Green/ Clinton Hill Downtown Brooklyn',),
 ('Cozy Room With Big Comfortable Bed!',),
 ('Winter Escape in Classic Brooklyn Brownstone',),
 ('Modern East Village Apt - Available Last Minute',),
 ('Warm Spacious Bedroom in Historical Harlem!!!',),
 ('Private Bedroom in Williamsburg, Brooklyn',),
 ('Big bright apartment in hip neighborhood',),
 ('Private cozy room in a modern artsy apartment',),
 ('Room Available in Crown Heights',),
 ('Best East Village Location',),
 ('Beautiful, Charming Bohemian Brownstone Loft',),
 ('Huge Bright King Size Private Bedroom in NYC',),
 ('Cozy One Bedroom by Central Park',),
 ("private room in artist's home. prime WILLIAMSBURG.",),
 ('Large & Adorable 2 Bedroom in the Heart of Bklyn',),
 ('Cozy room in 3-bedroom bushwick apartment',),
 ('One bedroom apartment in mid-town',),
 ('Furnished modern studio luxury elevator building',),
 ('Large Private Room in Brownstone (4th fl)',),
 ('Cozy nook in the Brook(lyn)',),
 ('One bedroom in luxury FiDi building',),
 ('Private Room in Bright Roomy 3br Brooklyn Apart.',),
 ('Spacious apartment in Brooklyn',),
 ('Charming light-filled apartment in Crown Heights',),
 ('Sunny Room',),
 ('Sunny 1 Bedroom Apt. in Brooklyn',),
 ('Cosy room in Williamsburg',),
 ('East Williamsburg private 2 bedroom apt by L train',),
 ('Manhattan - Upper East Side - Entire Home',),
 ('Intimate Williamsburg Apartment',),
 ('Private Room Available in Hamilton Heights',),
 ('Studio Apt - One Block from Central Park',),
 ('Beautiful Sunlit Room in Brooklyn',),
 ('Cozy Centrally Located Private Room in Bushwhick',),
 ('Spacious and Bright Two Bedroom',),
 ('Bright Minimalist Creative Retreat Bedroom BedStuy',),
 ('Modern Central Harlem Room',),
 ('Sunny & Spacious 1 Bedroom in Central Harlem!',),
 ('Comfortable One bedroom Harlem Aprt',),
 ('Spacious Private Bedroom in Hip Bushwick',),
 ('Spacious yet Cozy Room in Manhattan',),
 ('Spacious 2 Bd Apartment in Central Park North',),
 ('Gigantic and Beautiful room w/Private living area',),
 ('Sunny Spacious Room + Private Bathroom in Bushwick',),
 ('West Village Getaway',),
 ('Private sanctuary close to Central park',),
 ('Home Away from Home',),
 ('Studio at Central Park North with fast/easy travel everywhere in NYC!',),
 ('2 bedroom New York, Queens',),
 ('A private bedroom in the heart of Manhattan',),
 ("Williamsburg's BEST location Apartment",),
 ('Charming and very Sunny Apartment',),
 ('Quiet East Village Studio next to snug coffee shop',),
 ('Bay Ridge Beauty',),
 ('Huge Room in Penthouse Apartment (Upper West Side)',),
 ('Bushwick Basement Large Room with Half Bath',),
 ('Sunny, Clean, 1BR in Washington Heights',),
 ('1920s Room 1 block from Prospect Park and Q Access',),
 ('COZY PRIVATE ROOM IN GRAMERCY',),
 ('Spacious 1BR amazing view, Beach 5 min, airport 20',),
 ('Private Room in 3bdm, Astoria',),
 ('1 bedroom apartment in great neighborhood',),
 ('Lifestlye Stay In Downtown Brooklyn',),
 ('Master Suite with Private Bath',),
 ('Comfy room near trendy Columbia University',),
 ('Studio apartment near Monte Fiore hospital',),
 ('Railroad Style 1 B.R. Astoria Bachelor Pad',),
 ('One bedroom available with great access to trains!',),
 ('Cozy apartment in Upper Manhattan!',),
 ('Chic & Cosy Lower East Side Apartment',),
 ('Beautiful Double Room - Heart of Clinton Hill, BK',),
 ('Huge Sunny Bedroom, 20 min to Times Square!',),
 ('Studio Apt in Washington Square <3',),
 ('Vintage east village apartment',),
 ('Sunlit Harlem Haven',),
 ('Cozy 1 bedroom apartment near JFK',),
 ('Gorgeous Upper West Side apt in stellar location!',),
 ('entire sunshine of the spotless mind room',),
 ('Historic Harlem Townhome',),
 ('HUGE Soho LOFT 2 Bedrooms 2 Bathrooms',),
 ('Stylish and Serene in Cobble Hill, Brooklyn',),
 ('Modern Private Room in Historic Strivers Row',),
 ('Greenpoint private 2 rooms',),
 ('East Village Cozy & Bright Home',),
 ('West Village Apartment',),
 ('Quintessential New York Charm',),
 ('PRIVATE ROOM WITH EVERYTHING INCLUDED!!',),
 ("Modern apartment in Brooklyn's Stuyvesant heights",),
 ('Cozy eclectic bedroom in the heart of Bushwick',),
 ('Cute Brownstone apt on tree-lined street Brooklyn',),
 ('Sun-filled studio apt in Clinton Hill brownstone',),
 ('Apartment in the Heart of Manhattan',),
 ('private room in a shared apartment',),
 ('Private, big, clean cozy room, in TIMES SQUARE',),
 ('New Charming 1 Bedroom Oasis Apartment',),
 ('Huge Brooklyn Bedroom',),
 ('Wonderful and bright 1BR steps from Central Park',),
 ('Well connected private room',),
 ('Rental in a Uptown Cozy Apartment',),
 ('The Happy Hideaway',),
 ('Light-filled Apartment in great area, close 2 all!',),
 ('Cozy Room in Manhattan',),
 ('Bohemian apt in the heart of Greenwich Village',)]

#### Question 3 
Airbnb host data is being analyzed to understand how identity verification impacts guest review ratings. Hosts are categorized as either “<strong>verified</strong>” or “<strong>unconfirmed</strong>” (not verified).
Retrieve the <strong>average</strong> review scores for both verified and unverified hosts from the listings data.

Based on the data, what can you conclude about the average review scores for each identity verification type?

#### Options

- Verified hosts have a slightly higher average review score than unconfirmed hosts.<br>
- Unconfirmed hosts have a much higher average review score than verified hosts.<br>
- Both verified and unconfirmed hosts have the exact same average review score.<br>
- Verified hosts have a significantly lower average review score than unconfirmed hosts.<br>

In [6]:
%%sql

SELECT h.identity_verified, ROUND(AVG(l.review_rate_number),0) AS average_review_score
FROM listings l
JOIN hosts h ON l.host_id =h.host_id
GROUP BY h.identity_verified;

 * sqlite:///airbnb_nyc.db
Done.

[('unconfirmed', 3.0), ('verified', 3.0)]

#### Question 4 

An analysis is conducted to determine whether the <strong>expensive</strong> Airbnb listings in New York City are also the <strong>most available</strong> to guests throughout the year.<br>
Your task is to write a sql query that returns the columns <strong>listing</strong>, <strong>neighbourhood</strong> and <strong>price</strong>.

True or False? Based on the top 10 most expensive listings, these listings are also the most available (have high availability_365 values)?

#### Options

- True — All top 10 listings have high availability throughout the year.
- False — Many of the top 10 most expensive listings have low or zero availability.

In [27]:
%%sql

SELECT listing_id, listing, price, availability_365
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
ORDER BY price DESC, availability_365 DESC
LIMIT 10;

 * sqlite:///airbnb_nyc.db
Done.

[(12022483, 'Sun filled 1 bedroom in the heart of Crown Heights', 1199.0, 13),
 (1749150, 'In_Manhattan+1 Small Block to train', 1198.0, 275),
 (45242223, 'Spacious Private Bedroom in Hip Bushwick', 1198.0, 0),
 (20794111, 'Amazing Soho Apartment', 1195.0, 7),
 (45741502, 'Sunny Spacious Room + Private Bathroom in Bushwick', 1195.0, 0),
 (19294064, 'Beautiful 1 Bdrm w/ Large Private Patio', 1193.0, 0),
 (53039594, 'Cozy room for easy traveler', 1190.0, 71),
 (21952837, 'Private room in two floor apartment w/ back yard', 1190.0, 66),
 (24658554, 'Room in Washingtom Heights (Manhattan)', 1190.0, 26),
 (17627223, 'Big beautiful bedroom in huge Bushwick apartment', 1190.0, 8)]

#### Question 5
You are helping a traveler find the <strong>most expensive</strong> Airbnb listing available in New York City. After examining the data, you find one listing with the highest price.<br>
Create a table with the columns: <strong>listing_id, listing, and price</strong>.

Which of the following details correctly describes the most expensive Airbnb listing?

#### Options

- Listing: Sun filled 1 bedroom in the heart of Crown Heights — Neighborhood: Crown Heights — Price: $1199.00<br>
- Listing: Modern loft in great neighborhood — Neighborhood: Williamsburg — Price: $1500.00<br>
- Listing: Cozy Studio in Midtown — Neighborhood: Midtown — Price: $900.00<br>
- Listing: Large & Adorable 2 Bedroom in the Heart of Bklyn — Neighborhood: Brooklyn — Price: $850.00<br>

In [7]:
%%sql

SELECT listing_id, listing, MAX(price) AS price
FROM listings l
JOIN neighbourhoods n 
ON l.neighbourhood_id = n.neighbourhood_id;

 * sqlite:///airbnb_nyc.db
Done.

[(12022483, 'Sun filled 1 bedroom in the heart of Crown Heights', 1199.0)]

In [8]:
%%sql

SELECT listing_id, listing, price
FROM listings l
JOIN neighbourhoods n 
ON l.neighbourhood_id = n.neighbourhood_id
ORDER BY price DESC
LIMIT 1;

 * sqlite:///airbnb_nyc.db
Done.

[(12022483, 'Sun filled 1 bedroom in the heart of Crown Heights', 1199.0)]

In [32]:
%%sql

SELECT listing_id, listing, price
FROM (SELECT listing_id, listing, price, availability_365
      FROM listings l
      JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
      ORDER BY price DESC, availability_365 DESC
      LIMIT 10)
LIMIT 1;

 * sqlite:///airbnb_nyc.db
Done.

[(12022483, 'Sun filled 1 bedroom in the heart of Crown Heights', 1199.0)]

#### Question 6
CityBnb is analyzing neighborhoods to find where the <strong>most affordable</strong> Airbnb listings are located. 7 cheapest listings were retrieved, along with their neighborhood IDs. 
Create a table that shows <strong>listing, neighbourhood_id and price</strong>.

Which neighborhood ID(s) appear most frequently among these affordable listings?

#### Options

- Neighborhood ID 5 appears most frequently.
- Neighborhood ID 14 has the most affordable listings.
- Neighborhood ID 80 has the cheapest listings overall.
- Neighborhood ID 32 has the majority of affordable listings.

In [10]:
%%sql

SELECT listing_id, listing, n.neighbourhood_id, price
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
ORDER BY price ASC
LIMIT 7;

 * sqlite:///airbnb_nyc.db
Done.

[(46397082, 'Home Away from Home', 5, 51.0),
 (1947426, 'Fantastic East Village Location!', 14, 52.0),
 (44970491, 'Bright Minimalist Creative Retreat Bedroom BedStuy', 5, 52.0),
 (43859816, 'Sunny Room', 5, 55.0),
 (6597240, 'Creative Woodside Studio', 80, 56.0),
 (12945928, 'Large Modern 3-bdrm Duplex Apt near Manhattan', 32, 56.0),
 (51652769, '(2R) Cozy and clean bedroom with private bathroom', 143, 57.0)]

In [11]:
%%sql

SELECT listing_id, listing, n.neighbourhood_id, price
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
WHERE price < 60;

 * sqlite:///airbnb_nyc.db
Done.

[(1947426, 'Fantastic East Village Location!', 14, 52.0),
 (6597240, 'Creative Woodside Studio', 80, 56.0),
 (12945928, 'Large Modern 3-bdrm Duplex Apt near Manhattan', 32, 56.0),
 (43859816, 'Sunny Room', 5, 55.0),
 (44970491, 'Bright Minimalist Creative Retreat Bedroom BedStuy', 5, 52.0),
 (46397082, 'Home Away from Home', 5, 51.0),
 (51652769, '(2R) Cozy and clean bedroom with private bathroom', 143, 57.0)]

#### Question 7 
Which <strong>two</strong> hosts receive the highest number of reviews on the Airbnb platform?
Identify the hosts who consistently receive the most feedback. <br> Create a table with the following columns: <strong>host_id, host, number_of_reviews, review_rate_number, and reviews_per_month</strong>.

#### Options

- Agnes with 439 reviews and Gurpreet Singh with 424 reviews
- Agnes with 300 reviews and Gurpreet Singh with 350 reviews
- John Doe with 500 reviews and Sarah Lee with 450 reviews
- Gurpreet Singh with 439 reviews and Agnes with 424 reviews

In [12]:
%%sql

SELECT l.host_id, h.host, l.reviews_per_month AS monthly_review_perc, review_rate_number, number_of_reviews
FROM listings l
JOIN hosts h ON l.host_id = h.host_id
GROUP BY l.host_id, h.host
ORDER BY number_of_reviews DESC
LIMIT 2;

 * sqlite:///airbnb_nyc.db
Done.

[(935726341, 'Agnes', 5.12, 4, 439),
 (2044138632, 'Gurpreet  Singh', 8.86, 4, 424)]

#### Question 8 
Find Top 5 <strong>unique</strong> hosts that owns the most expensive listings.<br>
Identify the operators behind the priciest listings, return a table with columns: <strong>host, listing_id, price</strong>.

#### Options

- Linda, Chris, Maria, Cathal, Tian
- Agnes, Gurpreet Singh, Linda, Chris, Maria
- John, Sarah, Agnes, Gurpreet Singh, Tian
- Linda, Agnes, Tian, Cathal, Maria

In [13]:
%%sql

SELECT l.host_id, host, listing_id, price
FROM listings l
JOIN hosts h 
ON l.host_id =h.host_id
ORDER BY price DESC
LIMIT 5;

 * sqlite:///airbnb_nyc.db
Done.

[(598865899, 'Linda', 12022483, 1199.0),
 (1799553000, 'Chris', 1749150, 1198.0),
 (868180273, 'Maria', 45242223, 1198.0),
 (544412318, 'Cathal', 20794111, 1195.0),
 (1260133006, 'Tian', 45741502, 1195.0)]

##### Question 9
A real estate analysis is being conducted by CityBnb to determine where Airbnb activity is most concentrated in New York City. To support this, the goal is to identify the neighborhoods with the highest <strong>number</strong> of Airbnb listings.<br>
Your task is to create a table with columns: <strong>neighbourhood</strong> and <strong>total_listings</strong>, and identify the neighbourhoods with the most Airbnb listings.

Which three neighborhoods have the highest number of Airbnb listings?

#### Options

- Bedford-Stuyvesant, Williamsburg, Harlem
- Harlem, Crown Heights, Bushwick
- Williamsburg, East Village, Chelsea
- Crown Heights, Harlem, Bushwick

In [14]:
%%sql
SELECT 
    neighbourhood,
    COUNT(n.neighbourhood_id) AS total_listings
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
GROUP BY neighbourhood
ORDER BY total_listings DESC
LIMIT 3;

 * sqlite:///airbnb_nyc.db
Done.

[('Bedford-Stuyvesant', 69), ('Williamsburg', 64), ('Harlem', 56)]

In [15]:
%%sql

SELECT neighbourhood,
       COUNT(n.neighbourhood_id) AS total_listings
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
GROUP BY neighbourhood
HAVING total_listings > 50
ORDER BY total_listings DESC;

 * sqlite:///airbnb_nyc.db
Done.

[('Bedford-Stuyvesant', 69), ('Williamsburg', 64), ('Harlem', 56)]

#### Question 10
You are working with CityBnb data to identify hosts who might not be fully verified and who are not actively renting out their properties throughout the year. This could help the platform improve trust and availability.<br>
Your task is to create a table with columns: <strong>host_id, host, identity_verified, and availability_365 </strong> to identify unverified hosts who are not active throughout the year.

Which of the following statements correctly describes <strong>unverified</strong> hosts who have <strong>zero</strong> availability throughout the year?

#### Options

- These hosts have identity verified status as "unconfirmed" and availability_365 equals 0, meaning their listings are not available any day of the year.
- These hosts have identity verified status as "confirmed" and availability_365 equals 365, meaning their listings are always available.
- These hosts have identity verified status as "unconfirmed" and availability_365 equals 365, meaning their listings are always available despite being unverified.
- These hosts have identity verified status as "confirmed" and availability_365 equals 0, meaning their listings are never available but are verified.

In [16]:
%%sql

SELECT 
    h.host_id, 
    host,
    identity_verified,
    availability_365
FROM listings l
JOIN hosts h 
ON l.host_id = h.host_id
WHERE h.identity_verified = 'unconfirmed' 
AND l.availability_365 = 0;

 * sqlite:///airbnb_nyc.db
Done.

[(123600518, 'Meryl', 'unconfirmed', 0),
 (124039648, 'Kierra', 'unconfirmed', 0),
 (162511322, 'Hans', 'unconfirmed', 0),
 (176369804, 'Samet', 'unconfirmed', 0),
 (182476890, 'Lawrence', 'unconfirmed', 0),
 (191490859, 'Adam', 'unconfirmed', 0),
 (232268189, 'Juan Pablo', 'unconfirmed', 0),
 (234136209, 'Loreley', 'unconfirmed', 0),
 (246371399, 'Rishab', 'unconfirmed', 0),
 (271758427, 'Yaakov', 'unconfirmed', 0),
 (277337061, 'Jimmy', 'unconfirmed', 0),
 (323601747, 'Petter', 'unconfirmed', 0),
 (324333308, 'Sajad', 'unconfirmed', 0),
 (342643731, 'Samantha', 'unconfirmed', 0),
 (361736533, 'Lucie', 'unconfirmed', 0),
 (399125219, 'Jared', 'unconfirmed', 0),
 (401331764, 'Brandon', 'unconfirmed', 0),
 (401503579, 'Rahwa', 'unconfirmed', 0),
 (402503663, 'Chen', 'unconfirmed', 0),
 (450817619, 'Nikos', 'unconfirmed', 0),
 (468616819, 'Erin', 'unconfirmed', 0),
 (484336424, 'Sylvia', 'unconfirmed', 0),
 (526691467, 'Ari', 'unconfirmed', 0),
 (619713328, 'Deeksha', 'unconfirmed', 0),
 (673708318, 'Andrew', 'unconfirmed', 0),
 (676259853, 'Sara', 'unconfirmed', 0),
 (736370930, 'Lyvan Esteban', 'unconfirmed', 0),
 (747557585, 'Lindsay', 'unconfirmed', 0),
 (757662538, 'Nicole', 'unconfirmed', 0),
 (781818400, 'Shruti', 'unconfirmed', 0),
 (787461956, 'DyAnna', 'unconfirmed', 0),
 (788842608, 'Alexi', 'unconfirmed', 0),
 (827835565, 'Eric', 'unconfirmed', 0),
 (868180273, 'Maria', 'unconfirmed', 0),
 (871718398, 'Tracey', 'unconfirmed', 0),
 (896227464, 'Francesco', 'unconfirmed', 0),
 (976825431, 'Elizabeth', 'unconfirmed', 0),
 (1012504921, 'Kate', 'unconfirmed', 0),
 (1059896829, 'Robert', 'unconfirmed', 0),
 (1074774907, 'Viswanadha', 'unconfirmed', 0),
 (1114598643, 'Aris', 'unconfirmed', 0),
 (1119252468, 'Patrick', 'unconfirmed', 0),
 (1169698435, 'Tosin/Rashon', 'unconfirmed', 0),
 (1183567073, 'Murphy', 'unconfirmed', 0),
 (1204230828, 'Blake', 'unconfirmed', 0),
 (1214967603, 'Tianna', 'unconfirmed', 0),
 (1216634169, 'Hannah', 'unconfirmed', 0),
 (1217562535, 'Federico', 'unconfirmed', 0),
 (1231628081, 'Daniela', 'unconfirmed', 0),
 (1239775467, 'Christopher', 'unconfirmed', 0),
 (1260133006, 'Tian', 'unconfirmed', 0),
 (1278307856, 'Divina', 'unconfirmed', 0),
 (1293210351, 'Easton', 'unconfirmed', 0),
 (1321566113, 'J', 'unconfirmed', 0),
 (1332034534, 'Alex', 'unconfirmed', 0),
 (1376501010, 'Rina', 'unconfirmed', 0),
 (1512678398, 'Sofia', 'unconfirmed', 0),
 (1536601499, 'Andrea', 'unconfirmed', 0),
 (1570276266, 'Ashley', 'unconfirmed', 0),
 (1572521865, 'James', 'unconfirmed', 0),
 (1601107773, 'Anna', 'unconfirmed', 0),
 (1637918911, 'Romana', 'unconfirmed', 0),
 (1654804200, 'Kizzie', 'unconfirmed', 0),
 (1655506613, 'Karen', 'unconfirmed', 0),
 (1655578974, 'Soledad', 'unconfirmed', 0),
 (1700893174, 'Max', 'unconfirmed', 0),
 (1707185056, 'Maurice', 'unconfirmed', 0),
 (1720150525, 'Kai', 'unconfirmed', 0),
 (1775382473, 'Naor', 'unconfirmed', 0),
 (1796945013, 'Frankie', 'unconfirmed', 0),
 (1798370524, 'Sophie', 'unconfirmed', 0),
 (1827051337, 'Yoko', 'unconfirmed', 0),
 (1886121716, 'Valerie', 'unconfirmed', 0),
 (1898337351, 'Michael', 'unconfirmed', 0),
 (1910514118, 'Elizabeth', 'unconfirmed', 0),
 (1924638099, 'Leanne', 'unconfirmed', 0),
 (1938687687, 'Jessica', 'unconfirmed', 0),
 (1955612503, 'Na', 'unconfirmed', 0),
 (1963122482, 'Alisha', 'unconfirmed', 0),
 (1970127821, 'Szilvia & Akos', 'unconfirmed', 0),
 (2005800813, 'Lydia', 'unconfirmed', 0),
 (2024247706, 'Lu&Ben', 'unconfirmed', 0),
 (2047441588, 'Stepha', 'unconfirmed', 0),
 (2102411033, 'Janelle', 'unconfirmed', 0),
 (2107329036, 'Sharan', 'unconfirmed', 0)]

#### Question 11 
A marketing team is seeking to focus Airbnb promotional efforts on neighborhoods with the highest levels of guest activity. To support this initiative, guest review data is being analyzed to identify which neighborhoods receive the highest total number of guest reviews.<br>
Your task is to create a table with columns: <strong>neighbourhood, neighbourhood_group, and total_reviews</strong> to identify which areas in the city receive the most guest reviews overall. Use the number_of_reviews column to calculate the total reviews per neighborhood.

Which three neighborhoods have the highest <strong>total</strong> guest reviews according to the data?


#### Options

- Bedford-Stuyvesant, Williamsburg, Harlem
- East Harlem, East Village, Hell's Kitchen
- Crown Heights, Upper East Side, Upper West Side
- Midtown, Richmond Hill, Astoria

In [35]:
%%sql

SELECT 
    l.neighbourhood_id,
    neighbourhood,
    SUM(number_of_reviews) AS total_reviews
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
GROUP BY n.neighbourhood
ORDER BY total_reviews DESC
LIMIT 3;

 * sqlite:///airbnb_nyc.db
Done.

[(5, 'Bedford-Stuyvesant', 2239),
 (10, 'Williamsburg', 2067),
 (11, 'Harlem', 1642)]

In [34]:
%%sql

WITH ranked_reviews AS (
    SELECT 
        l.neighbourhood_id,
        n.neighbourhood,
        SUM(l.number_of_reviews) AS total_reviews,
        RANK() OVER (ORDER BY SUM(l.number_of_reviews) DESC) AS review_rank
    FROM listings l
    JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
    GROUP BY l.neighbourhood_id, n.neighbourhood
)
SELECT *
FROM ranked_reviews
WHERE review_rank <= 3;

 * sqlite:///airbnb_nyc.db
Done.

[(5, 'Bedford-Stuyvesant', 2239, 1),
 (10, 'Williamsburg', 2067, 2),
 (11, 'Harlem', 1642, 3)]

#### Question 12 
Which listings have availability_365=0, review_rate_number = 1 and <strong>number</strong> of reviews <= 1?<br>
Your task is to create a table with columns: <strong>listing_id, listing, availability_365, review_rate_number, and number_of_reviews</strong>.

#### Options


- Bright Minimalist Creative Retreat Bedroom BedStuy,<br> 
  Cozy Room With Big Comfortable Bed!,<br>
  Bright and modern 1 BR in Williamsburg w/balcony,<br>
  Cozy Lodge Chic in the heart of New York<br>

- Bright and modern 1 BR in Williamsburg w/balcony,<br> 
Charming light-filled apartment in Crown Heights,<br> 
Bright Minimalist Creative Retreat Bedroom BedStuy,<br>
Cozy apartment in Upper Manhattan!
  
- Spacious bedroom suite in Brooklyn brownstone,<br> 
Cozy Lodge Chic in the heart of New York,<br> 
Cozy Room With Big Comfortable Bed!,<br> 
Comfortable One bedroom Harlem Aprt<br> 

- Big, Bright 1 Bedroom b/w Columbia, City College,<br>
  Bright and modern 1 BR in Williamsburg w/balcony,<br>
  Comfortable One bedroom Harlem Aprt,<br>
  Spacious bedroom suite in Brooklyn brownstone

In [36]:
%%sql

SELECT listing_id, listing, availability_365, review_rate_number, number_of_reviews
FROM listings
WHERE review_rate_number IS NOT NULL
  AND availability_365 = 0
ORDER BY availability_365 ASC, review_rate_number ASC, number_of_reviews ASC;

 * sqlite:///airbnb_nyc.db
Done.

[(11617647, 'Bright and modern 1 BR in Williamsburg w/balcony', 0, 1, 1),
 (43794645, 'Charming light-filled apartment in Crown Heights', 0, 1, 1),
 (44970491, 'Bright Minimalist Creative Retreat Bedroom BedStuy', 0, 1, 1),
 (50810512, 'Cozy apartment in Upper Manhattan!', 0, 1, 1),
 (13564504, 'Greenwich Village Apartment', 0, 1, 2),
 (44823027, 'Beautiful Sunlit Room in Brooklyn', 0, 1, 2),
 (49886514, 'Spacious 1BR amazing view, Beach 5 min, airport 20', 0, 1, 2),
 (11841328, 'Bright Spacious BK Room with Bath', 0, 1, 3),
 (11869495, 'Beautiful & spacious apartment on Upper East Side', 0, 1, 3),
 (14325021, 'Private sanctuary close to Central park', 0, 1, 3),
 (42939684, 'Cozy nook in the Brook(lyn)', 0, 1, 3),
 (45896698, 'Private sanctuary close to Central park', 0, 1, 3),
 (49337527, 'Bushwick Basement Large Room with Half Bath', 0, 1, 3),
 (44847328, 'Cozy Centrally Located Private Room in Bushwhick', 0, 1, 4),
 (14379699, 'One bedroom APT in Prospect Park', 0, 1, 5),
 (14427197, 'Modern turn of century Brooklyn apartment.', 0, 1, 5),
 (43887983, 'Sunny 1 Bedroom Apt. in Brooklyn', 0, 1, 5),
 (45242223, 'Spacious Private Bedroom in Hip Bushwick', 0, 1, 6),
 (49530280, '1920s Room 1 block from Prospect Park and Q Access', 0, 1, 6),
 (43859816, 'Sunny Room', 0, 1, 7),
 (44861136, 'Spacious and Bright Two Bedroom', 0, 1, 11),
 (56907904, 'The Happy Hideaway', 0, 1, 12),
 (57242597, 'Cozy Room in Manhattan', 0, 1, 17),
 (57344221, 'Bohemian apt in the heart of Greenwich Village', 0, 1, 22),
 (10798586, 'Sunny and spacious apartment in Brooklyn', 0, 1, 30),
 (11983822, '1BR Apartment in Historic Park Slope Brownstone', 0, 1, 48),
 (10740594, 'Your home away from home...', 0, 1, 63),
 (23289403, 'Best East Village Location', 0, 2, 1),
 (24288513, 'Cozy room in 3-bedroom bushwick apartment', 0, 2, 1),
 (43070027, 'One bedroom in luxury FiDi building', 0, 2, 1),
 (50112957, 'Lifestlye Stay In Downtown Brooklyn', 0, 2, 1),
 (50533809, 'Studio apartment near Monte Fiore hospital', 0, 2, 1),
 (54043123, 'Greenpoint private 2 rooms', 0, 2, 1),
 (19439319, "Bright Artist's Loft on the Lower East Side", 0, 2, 2),
 (44540250, 'Intimate Williamsburg Apartment', 0, 2, 2),
 (54911891, 'Sun-filled studio apt in Clinton Hill brownstone', 0, 2, 2),
 (10627925, 'Upper West Side apartment with balcony', 0, 2, 3),
 (10852159, 'Modern 3 BR home, 4 blocks from Public Transport!', 0, 2, 3),
 (11179120, 'Chic 1 br with huge private garden', 0, 2, 3),
 (14178109, 'Small Homey Studio in a Big Noisy City', 0, 2, 3),
 (50790629, 'One bedroom available with great access to trains!', 0, 2, 3),
 (51566610, 'Studio Apt in Washington Square <3', 0, 2, 3),
 (14200754, 'Great Empty Apartment for you.', 0, 2, 5),
 (14547046, 'Cozy bedroom in Harlem, NY', 0, 2, 6),
 (44663965, 'Studio Apt - One Block from Central Park', 0, 2, 6),
 (50602847, 'Railroad Style 1 B.R. Astoria Bachelor Pad', 0, 2, 6),
 (55394602, 'New Charming 1 Bedroom Oasis Apartment', 0, 2, 6),
 (20671501, 'Industrial-Chic Room Available in Artist Loft', 0, 2, 8),
 (15754926, 'Beautiful Clean Studio in Midtown East', 0, 2, 12),
 (13182865, 'Perfect bedroom. Near Subways Columbia CityCollege', 0, 2, 18),
 (50212371, 'Master Suite with Private Bath', 0, 2, 20),
 (54541850, 'PRIVATE ROOM WITH EVERYTHING INCLUDED!!', 0, 2, 22),
 (17033500, 'The Double U', 0, 2, 25),
 (11676190, 'comfortable private room in Hamilton Heights', 0, 2, 28),
 (15677052, 'Private bedroom hideaway in East Village gem', 0, 2, 29),
 (16606573, 'Cozy home in Astoria Queens.', 0, 2, 29),
 (45781268, 'West Village Getaway', 0, 2, 29),
 (53019159, 'entire sunshine of the spotless mind room', 0, 2, 102),
 (11487304, 'Cozy room in Times Square .', 0, 2, 105),
 (11624274, 'Best of Wall Street (Full Studio ALL yours)', 0, 3, 1),
 (14274762, 'Lovely Room for A Real, Cozy Brooklyn Experience', 0, 3, 1),
 (16927459, 'Perfect Stay to see all of Manhattan Sites', 0, 3, 1),
 (17015275, 'Elegant Apartment for Holidays in East Village', 0, 3, 1),
 (20347853, "★☆Sunnyside☆-Locals' favorite neighbor for living-", 0, 3, 1),
 (44145907, 'Manhattan - Upper East Side - Entire Home', 0, 3, 1),
 (54500428, 'West Village Apartment', 0, 3, 1),
 (10579323, 'Modern loft in great neighborhood', 0, 3, 2),
 (12733845, 'Cute Apartment for 2-4 people, IDEAL location NYC', 0, 3, 2),
 (12992321, 'Cozy room w balcony in penthouse w private terrace', 0, 3, 2),
 (13459015, 'Hosting Harlem Brownstone Apartment', 0, 3, 2),
 (18008310, 'Beautiful huge room with a lovely Bay Window', 0, 3, 2),
 (18270100, 'Quiet Railroad Style Apartment', 0, 3, 2),
 (20403635, 'Studio near times grand central, Times Square, UN', 0, 3, 2),
 (46577684, '2 bedroom New York, Queens', 0, 3, 2),
 (47294017, 'Charming and very Sunny Apartment', 0, 3, 2),
 (50887281, 'Chic & Cosy Lower East Side Apartment', 0, 3, 2),
 (50968469, 'Beautiful Double Room - Heart of Clinton Hill, BK', 0, 3, 2),
 (54313750, 'East Village Cozy & Bright Home', 0, 3, 2),
 (10818469, 'Spacious Room with Character in BK', 0, 3, 3),
 (52098475, 'Vintage east village apartment', 0, 3, 3),
 (53237318, 'Historic Harlem Townhome', 0, 3, 3),
 (17874653, 'Cozy 1 Bedroom on the Upper West Side', 0, 3, 4),
 (44116083, 'East Williamsburg private 2 bedroom apt by L train', 0, 3, 4),
 (52944046, 'Cozy 1 bedroom apartment near JFK', 0, 3, 4),
 (17975172, 'Comfortable home in the heart of it all', 0, 3, 5),
 (18246904, 'East Village room with a view', 0, 3, 6),
 (24874504, 'One bedroom apartment in mid-town', 0, 3, 6),
 (14238310, 'Peaceful room:an AlmostEmpty Apartment of your own', 0, 3, 7),
 (46430773, 'Studio at Central Park North with fast/easy travel everywhere in NYC!', 0, 3, 7),
 (45741502, 'Sunny Spacious Room + Private Bathroom in Bushwick', 0, 3, 8),
 (12770297, 'Classic Room in Vintage Loft', 0, 3, 9),
 (13233676, 'Big & Sunny Apartment in Williamsburg', 0, 3, 10),
 (53737149, 'HUGE Soho LOFT 2 Bedrooms 2 Bathrooms', 0, 3, 11),
 (56501963, 'Rental in a Uptown Cozy Apartment', 0, 3, 11),
 (19500625, 'Harlem Peace Quarters', 0, 3, 12),
 (53971877, 'Modern Private Room in Historic Strivers Row', 0, 3, 12),
 (55056594, 'Apartment in the Heart of Manhattan', 0, 3, 15),
 (13748972, 'Private sun-filled 1-bedroom apt with own backyard', 0, 3, 17),
 (56321361, 'Well connected private room', 0, 3, 17),
 (18853329, 'Wyndham Midtown 45 (2 Bedroom Presidential) 4A', 0, 3, 18),
 (47307273, 'Quiet East Village Studio next to snug coffee shop', 0, 3, 22),
 (11275773, 'Cozy Studio in Midtown', 0, 3, 32),
 (45108566, 'Sunny & Spacious 1 Bedroom in Central Harlem!', 0, 3, 39),
 (20438982, 'Bronx Home', 0, 3, 40),
 (23523578, 'Cozy One Bedroom by Central Park', 0, 4, 1),
 (45475846, 'Spacious 2 Bd Apartment in Central Park North', 0, 4, 1),
 (12522314, 'Cozy Private Room in Share Apartment near Midtown', 0, 4, 2),
 (22924885, 'Room Available in Crown Heights', 0, 4, 2),
 (23470005, 'Huge Bright King Size Private Bedroom in NYC', 0, 4, 2),
 (45309604, 'Spacious yet Cozy Room in Manhattan', 0, 4, 2),
 (13757257, 'Great, light filled room with ensuite private bath', 0, 4, 3),
 (16580614, 'Spacious 1 Bedroom with Backyard in Williamsburg', 0, 4, 3),
 (18497648, 'Your Best NY location', 0, 4, 3),
 (25136846, 'Furnished modern studio luxury elevator building', 0, 4, 3),
 (46397082, 'Home Away from Home', 0, 4, 3),
 (54653967, 'Cozy eclectic bedroom in the heart of Bushwick', 0, 4, 3),
 (55559187, 'Huge Brooklyn Bedroom', 0, 4, 3),
 (10518017, 'Chill in Alphabet City', 0, 4, 4),
 (18673279, 'Studio apartment; close to tourist attractions', 0, 4, 4),
 (22541588, 'Big bright apartment in hip neighborhood', 0, 4, 4),
 (24281333, 'Large & Adorable 2 Bedroom in the Heart of Bklyn', 0, 4, 4),
 (43649390, 'Spacious apartment in Brooklyn', 0, 4, 4),
 (49187302, 'Huge Room in Penthouse Apartment (Upper West Side)', 0, 4, 4),
 (54501532, 'Quintessential New York Charm', 0, 4, 4),
 (13851148, 'Prime Williamsburg Modern Charm, steps to park', 0, 4, 5),
 (19294064, 'Beautiful 1 Bdrm w/ Large Private Patio', 0, 4, 5),
 (20224690, 'Cozy Manhattan apartment!', 0, 4, 5),
 (20297041, 'Fam-Friendly Brooklyn Brownstone w. Vintage charm', 0, 4, 6),
 (48999520, 'Bay Ridge Beauty', 0, 4, 6),
 (50529943, 'Comfy room near trendy Columbia University', 0, 4, 6),
 (43457742, 'Private Room in Bright Roomy 3br Brooklyn Apart.', 0, 4, 7),
 (10885849, 'Fun, Comfy, and Convenient Studio in Midtown West', 0, 4, 8),
 (44029372, 'Cosy room in Williamsburg', 0, 4, 8),
 (49562866, 'COZY PRIVATE ROOM IN GRAMERCY', 0, 4, 8),
 (54658386, 'Cute Brownstone apt on tree-lined street Brooklyn', 0, 4, 8),
 (12458800, 'Big, Bright 1 Bedroom b/w Columbia, City College', 0, 4, 10),
 (45644297, 'Gigantic and Beautiful room w/Private living area', 0, 4, 10),
 (52306692, 'Sunlit Harlem Haven', 0, 4, 11),
 (53890136, 'Stylish and Serene in Cobble Hill, Brooklyn', 0, 4, 11),
 (20681442, 'Ft. Green/ Clinton Hill Downtown Brooklyn', 0, 4, 13),
 (22831546, 'Private cozy room in a modern artsy apartment', 0, 4, 13),
 (55636509, 'Wonderful and bright 1BR steps from Central Park', 0, 4, 14),
 (19261479, 'NYC HUB GuestRoom: Train @ 900ft; midtown 30min!', 0, 4, 17),
 (14742008, 'Luxury condo, full floor - Master w/lvg rm+ 2 ba!', 0, 4, 19),
 (22506793, 'Private Bedroom in Williamsburg, Brooklyn', 0, 4, 19),
 (55174234, 'Private, big, clean cozy room, in TIMES SQUARE', 0, 4, 28),
 (52981051, 'Gorgeous Upper West Side apt in stellar location!', 0, 4, 29),
 (14956852, 'Renovated 1br w/ private bath steps from the train', 0, 4, 31),
 (10943288, 'beautiful one bedroom apartment', 0, 5, 1),
 (15156233, 'MANHATTAN Budget Shared Room East harlem', 0, 5, 1),
 (15358927, 'Sofa bed in bright & beautiful apt (with rooftop)', 0, 5, 1),
 (21169675, 'Winter Escape in Classic Brooklyn Brownstone', 0, 5, 1),
 (25301984, 'Large Private Room in Brownstone (4th fl)', 0, 5, 1),
 (46745031, 'A private bedroom in the heart of Manhattan', 0, 5, 1),
 (50085894, '1 bedroom apartment in great neighborhood', 0, 5, 1),
 (14160988, 'Sunny 2BR in townhouse on cutest E Vill block', 0, 5, 2),
 (15139111, 'Beautiful Room in a Classic Harlem Neighborhood!', 0, 5, 2),
 (20452790, 'Renovated Bathroom and floor with PRIVATE Backyard', 0, 5, 2),
 (45033454, 'Modern Central Harlem Room', 0, 5, 3),
 (14920953, 'Ideal place in trendy part of Brooklyn.', 0, 5, 4),
 (21185692, 'Modern East Village Apt - Available Last Minute', 0, 5, 4),
 (14860200, 'Chic Union Square One Bedroom', 0, 5, 5),
 (23714674, "private room in artist's home. prime WILLIAMSBURG.", 0, 5, 5),
 (55139439, 'private room in a shared apartment', 0, 5, 5),
 (47084696, "Williamsburg's BEST location Apartment", 0, 5, 6),
 (20334045, 'Private Bedroom in Upper East Side', 0, 5, 7),
 (21905339, 'Warm Spacious Bedroom in Historical Harlem!!!', 0, 5, 8),
 (54608126, "Modern apartment in Brooklyn's Stuyvesant heights", 0, 5, 8),
 (19160408, 'Simple Private Rm w/ Futon in the Bronx/ Storage', 0, 5, 9),
 (19815988, 'Spacious 2bd apt with Manhattan view and sunset', 0, 5, 9),
 (23455645, 'Beautiful, Charming Bohemian Brownstone Loft', 0, 5, 9),
 (56955401, 'Light-filled Apartment in great area, close 2 all!', 0, 5, 12),
 (49480573, 'Sunny, Clean, 1BR in Washington Heights', 0, 5, 13),
 (50006363, 'Private Room in 3bdm, Astoria', 0, 5, 15),
 (20311953, 'Gorgeous 1 Bedroom on the Park', 0, 5, 16),
 (44642425, 'Private Room Available in Hamilton Heights', 0, 5, 21),
 (12541092, 'Huge Sunny Bedroom, 20 min to Times Square!', 0, 5, 23),
 (51103783, 'Huge Sunny Bedroom, 20 min to Times Square!', 0, 5, 23),
 (45168215, 'Comfortable One bedroom Harlem Aprt', 0, 5, 40),
 (20934395, 'Cozy Room With Big Comfortable Bed!', 0, 5, 43),
 (14098026, 'Cozy Lodge Chic in the heart of New York.', 0, 5, 44),
 (20319685, 'Spacious bedroom suite in Brooklyn brownstone', 0, 5, 52)]

#### Question 13 
Identify hosts who own more than 100 listings and what normalization principle is being violated?<br>
Create a table that returns columns: <strong>host, and calculated_host_listings_count</strong>.

#### Options

- Kazuya, 1st Normal Form (1NF)
- Kara, 2nd Normal Form (2NF)
- Sonder (NYC), 2nd Normal Form (2NF)
- Airbnb Official, 3rd Normal Form (3NF)

In [19]:
%%sql

SELECT h.host_id, host, calculated_host_listings_count
FROM listings l
JOIN hosts h ON l.host_id = h.host_id
WHERE calculated_host_listings_count >= 100
GROUP BY h.host_id
ORDER BY calculated_host_listings_count DESC;

 * sqlite:///airbnb_nyc.db
Done.

[(1936282448, 'Sonder (NYC)', 327),
 (1844778040, 'Sonder (NYC)', 327),
 (1370945204, 'Sonder (NYC)', 327),
 (1198781658, 'Sonder (NYC)', 327),
 (574716087, 'Sonder (NYC)', 327),
 (1968430100, 'Kara', 121),
 (750461323, 'Kara', 121),
 (882085888, 'Kazuya', 103)]

#### Question 14 
Which neighborhood has the highest number of guest reviews among listings that are available most of the year (availability_365 ≥ 300)<br>
Create a table showing the neighborhoods where listings are available most of the year. The table should return: <strong>neighbourhood, neighbourhood_group,<br> total_high_availability_listings</strong> (count of listings with <strong>availability_365</strong> > 300), and total_reviews.

#### Options

- Hell's Kitchen
- Upper East Side
- Bedford-Stuyvesant
- East Village

In [20]:
%%sql

SELECT 
    l.neighbourhood_id,
    neighbourhood_group_id,
    neighbourhood,
    COUNT(l.neighbourhood_id) AS total_high_availability_listings,
    SUM(number_of_reviews) AS total_reviews
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
WHERE availability_365 >= 300 
GROUP BY n.neighbourhood
HAVING COUNT(l.neighbourhood_id) >= 5
ORDER BY total_reviews DESC, total_high_availability_listings DESC;

 * sqlite:///airbnb_nyc.db
Done.

[(37, 2, 'Upper East Side', 5, 626),
 (6, 2, "Hell's Kitchen", 9, 424),
 (14, 2, 'East Village', 7, 322),
 (5, 1, 'Bedford-Stuyvesant', 11, 252),
 (8, 1, 'Bushwick', 12, 160),
 (10, 1, 'Williamsburg', 5, 134),
 (42, 1, 'Prospect-Lefferts Gardens', 5, 115),
 (7, 2, 'Upper West Side', 5, 64),
 (11, 2, 'Harlem', 5, 30),
 (19, 2, 'Financial District', 5, 29)]

#### Question 15 
Which listings have the highest estimated revenue? Multiply nightly price by number of available nights.<br> Create a table that will return a <strong>listing, neighbourhood_id, host_id, rt.type, and estimated revenue</strong>. Show the first five.

True or False? Small room for 1 Person-Best Value, has the highest estimated revenue

#### Options

- True
- False

In [37]:
%%sql
SELECT 
    listing_id,
    listing,
    neighbourhood_id,
    host_id,
    rt.type,
    ROUND(price * availability_365) AS estimated_revenue
FROM listings l
JOIN room_types rt ON rt.room_type_id = l.room_type_id
WHERE price IS NOT NULL AND
    availability_365 IS NOT NULL
ORDER BY 
    estimated_revenue DESC
LIMIT 5;

 * sqlite:///airbnb_nyc.db
Done.

[(55836994, 'Small room for 1 Person-Best Value', 117, 1380561739, 'Private room', 423765.0),
 (48129647, 'One train ride to Times SQ, Central Park, LOCATION', 3, 548848159, 'Entire home/apt', 408870.0),
 (50965156, 'Interfaith Retreat Guest Rooms (Bhakti)', 28, 1631373893, 'Private room', 404234.0),
 (12013646, '100$', 32, 334356607, 'Private room', 402597.0),
 (2790788, 'One Bedroom Apt, Suitable for Two', 115, 132238305, 'Entire home/apt', 393464.0)]

#### Question 16 
Which five neighborhoods receive the most negative reviews?
Highlights areas where guest satisfaction (<strong>review_rate_number</strong> < 2).

#### Options

- Harlem, Bedford-Stuyvesant, Crown Heights, Williamsburg, Bushwick
- East Village, Hell's Kitchen, Bushwick, Upper East Side, Harlem
- Crown Heights, Upper West Side, SoHo, Williamsburg, Bushwick
- Bedford-Stuyvesant, Tribeca, Bushwick, Chelsea, Crown Heights

In [22]:
%%sql

SELECT 
    l.neighbourhood_id,
    n.neighbourhood_group_id,
    neighbourhood,
    COUNT(l.neighbourhood_id) AS negative_review_count
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
WHERE l.review_rate_number < 2
GROUP BY neighbourhood
HAVING negative_review_count >= 5
ORDER BY negative_review_count DESC;

 * sqlite:///airbnb_nyc.db
Done.

[(11, 2, 'Harlem', 10),
 (5, 1, 'Bedford-Stuyvesant', 10),
 (36, 1, 'Crown Heights', 9),
 (10, 1, 'Williamsburg', 5),
 (8, 1, 'Bushwick', 5)]

#### Question 17   
Find how different cancellation policies are distributed across instant bookable and non-instant bookable listings in the Airbnb?<br>
Create a table that return columns: <strong>cancellation_policy_id, instant_bookable, listing_count</strong>(needs to be calculated)

Which combination of instant_bookable and cancellation_policy_id has the highest <strong>number</strong> of listings?

#### Options

- Instant_bookable = 1, Cancellation_policy_id = 1
- Instant_bookable = 0, Cancellation_policy_id = 2
- Instant_bookable = 1, Cancellation_policy_id = 2
- Instant_bookable = 0, Cancellation_policy_id = 3

In [42]:
%%sql

WITH ranked_policies AS (
    SELECT 
        instant_bookable,
        cancellation_policy_id,
        COUNT(*) AS listing_count
    FROM listings
    GROUP BY instant_bookable, cancellation_policy_id
)
SELECT 
    *,
    RANK() OVER (ORDER BY listing_count DESC) AS rank_overall
FROM ranked_policies
ORDER BY rank_overall;

 * sqlite:///airbnb_nyc.db
Done.

[(0, 2, 149, 1),
 (1, 1, 146, 2),
 (0, 1, 140, 3),
 (0, 3, 140, 3),
 (1, 3, 138, 5),
 (1, 2, 137, 6)]

#### Question 18
Flag listings with unusually high service fees. Create a table with columns: <strong>listing, price, service fee, service fee percentage</strong>.

True or False? There are Airbnb listings where the service fee is more than half (50%) of the nightly price.

#### Options

- True
- False

In [24]:
%%sql

SELECT 
    listing_id, 
    listing, 
    price, 
    service_fee,
    ROUND((service_fee / price) * 100, 2) AS service_fee_percent
FROM listings
WHERE price > 0 AND 
    (service_fee / price) > 0.5
ORDER BY service_fee_percent ASC;

 * sqlite:///airbnb_nyc.db
Done.

[]

#### Question 19
What is the average price of Airbnb listings in each neighbourhood by room type, and how many listings exist for each room type?
Find affordability of room types in neighbourhoods. Return a table with columns: <strong>neighbourhood, room type, listings_per_room_type, price</strong> average.

In [25]:
%%sql

SELECT
    l.neighbourhood_id,
    neighbourhood,
    rt.type AS room_type,
    COUNT(l.room_type_id) AS listings_per_room_type,
    ROUND(AVG(price)) AS avg_price
FROM listings l
JOIN neighbourhoods n ON l.neighbourhood_id = n.neighbourhood_id
JOIN room_types rt ON l.room_type_id = rt.room_type_id
GROUP BY neighbourhood, rt.type
ORDER BY listings_per_room_type DESC, avg_price DESC;

 * sqlite:///airbnb_nyc.db
Done.

[(8, 'Bushwick', 'Private room', 38, 612.0),
 (5, 'Bedford-Stuyvesant', 'Private room', 38, 555.0),
 (10, 'Williamsburg', 'Entire home/apt', 35, 618.0),
 (5, 'Bedford-Stuyvesant', 'Entire home/apt', 31, 633.0),
 (11, 'Harlem', 'Private room', 28, 625.0),
 (10, 'Williamsburg', 'Private room', 27, 575.0),
 (11, 'Harlem', 'Entire home/apt', 27, 505.0),
 (6, "Hell's Kitchen", 'Entire home/apt', 24, 569.0),
 (36, 'Crown Heights', 'Entire home/apt', 21, 741.0),
 (14, 'East Village', 'Entire home/apt', 18, 686.0),
 (7, 'Upper West Side', 'Entire home/apt', 18, 642.0),
 (14, 'East Village', 'Private room', 16, 577.0),
 (37, 'Upper East Side', 'Entire home/apt', 16, 563.0),
 (2, 'Midtown', 'Entire home/apt', 16, 544.0),
 (3, 'East Harlem', 'Private room', 14, 606.0),
 (36, 'Crown Heights', 'Private room', 13, 639.0),
 (7, 'Upper West Side', 'Private room', 13, 616.0),
 (32, 'Astoria', 'Private room', 12, 591.0),
 (34, 'Washington Heights', 'Private room', 10, 728.0),
 (26, 'Greenpoint', 'Entire home/apt', 10, 705.0),
 (8, 'Bushwick', 'Entire home/apt', 10, 663.0),
 (3, 'East Harlem', 'Entire home/apt', 9, 548.0),
 (28, 'Chelsea', 'Entire home/apt', 8, 750.0),
 (55, 'East Flatbush', 'Private room', 8, 682.0),
 (17, 'West Village', 'Entire home/apt', 8, 679.0),
 (19, 'Financial District', 'Entire home/apt', 8, 644.0),
 (37, 'Upper East Side', 'Private room', 8, 620.0),
 (42, 'Prospect-Lefferts Gardens', 'Private room', 8, 536.0),
 (16, 'Fort Greene', 'Entire home/apt', 8, 532.0),
 (42, 'Prospect-Lefferts Gardens', 'Entire home/apt', 7, 700.0),
 (34, 'Washington Heights', 'Entire home/apt', 7, 688.0),
 (26, 'Greenpoint', 'Private room', 7, 663.0),
 (6, "Hell's Kitchen", 'Private room', 7, 427.0),
 (49, 'Sunset Park', 'Entire home/apt', 6, 903.0),
 (25, 'Lower East Side', 'Private room', 6, 791.0),
 (32, 'Astoria', 'Entire home/apt', 6, 776.0),
 (39, 'Sunnyside', 'Private room', 6, 766.0),
 (25, 'Lower East Side', 'Entire home/apt', 6, 465.0),
 (29, 'Carroll Gardens', 'Entire home/apt', 5, 813.0),
 (28, 'Chelsea', 'Private room', 5, 705.0),
 (4, 'Murray Hill', 'Entire home/apt', 5, 554.0),
 (58, 'Greenwich Village', 'Entire home/apt', 5, 535.0),
 (82, 'Flushing', 'Private room', 5, 518.0),
 (18, 'Prospect Heights', 'Entire home/apt', 5, 504.0),
 (89, 'Ditmars Steinway', 'Private room', 5, 465.0),
 (71, 'Jamaica', 'Entire home/apt', 5, 372.0),
 (40, 'Gramercy', 'Entire home/apt', 4, 802.0),
 (13, 'Clinton Hill', 'Entire home/apt', 4, 718.0),
 (21, 'Park Slope', 'Entire home/apt', 4, 701.0),
 (122, 'Ozone Park', 'Private room', 4, 652.0),
 (46, 'Long Island City', 'Entire home/apt', 4, 608.0),
 (62, 'Flatbush', 'Entire home/apt', 4, 602.0),
 (27, 'Chinatown', 'Private room', 4, 591.0),
 (2, 'Midtown', 'Private room', 4, 428.0),
 (27, 'Chinatown', 'Entire home/apt', 3, 1023.0),
 (9, 'South Slope', 'Entire home/apt', 3, 972.0),
 (154, 'West Brighton', 'Private room', 3, 953.0),
 (44, 'Theater District', 'Private room', 3, 886.0),
 (46, 'Long Island City', 'Private room', 3, 851.0),
 (128, 'Woodhaven', 'Private room', 3, 834.0),
 (113, 'Forest Hills', 'Private room', 3, 728.0),
 (88, 'NoHo', 'Entire home/apt', 3, 722.0),
 (62, 'Flatbush', 'Private room', 3, 703.0),
 (41, 'East New York', 'Private room', 3, 681.0),
 (20, 'Ridgewood', 'Entire home/apt', 3, 616.0),
 (108, 'Maspeth', 'Entire home/apt', 3, 568.0),
 (80, 'Woodside', 'Private room', 3, 554.0),
 (71, 'Jamaica', 'Private room', 3, 548.0),
 (83, 'Brooklyn Heights', 'Entire home/apt', 3, 542.0),
 (59, 'Cobble Hill', 'Entire home/apt', 3, 531.0),
 (12, 'Gowanus', 'Entire home/apt', 3, 508.0),
 (70, 'Canarsie', 'Private room', 3, 502.0),
 (169, 'Rosedale', 'Private room', 3, 470.0),
 (51, 'Kips Bay', 'Private room', 3, 441.0),
 (56, 'Nolita', 'Private room', 3, 425.0),
 (91, 'East Elmhurst', 'Private room', 3, 328.0),
 (30, 'Inwood', 'Private room', 2, 1191.0),
 (42, 'Prospect-Lefferts Gardens', 'Shared room', 2, 1126.0),
 (85, 'Elmhurst', 'Private room', 2, 1039.0),
 (77, 'SoHo', 'Entire home/apt', 2, 984.0),
 (117, 'Borough Park', 'Private room', 2, 969.0),
 (69, 'Jackson Heights', 'Private room', 2, 912.0),
 (55, 'East Flatbush', 'Shared room', 2, 864.0),
 (23, 'Windsor Terrace', 'Entire home/apt', 2, 853.0),
 (106, 'Cypress Hills', 'Private room', 2, 791.0),
 (177, 'Fordham', 'Private room', 2, 787.0),
 (51, 'Kips Bay', 'Entire home/apt', 2, 786.0),
 (85, 'Elmhurst', 'Entire home/apt', 2, 723.0),
 (41, 'East New York', 'Entire home/apt', 2, 719.0),
 (73, 'Morningside Heights', 'Private room', 2, 686.0),
 (39, 'Sunnyside', 'Entire home/apt', 2, 685.0),
 (44, 'Theater District', 'Entire home/apt', 2, 655.0),
 (58, 'Greenwich Village', 'Private room', 2, 655.0),
 (20, 'Ridgewood', 'Private room', 2, 647.0),
 (10, 'Williamsburg', 'Shared room', 2, 618.0),
 (1, 'Kensington', 'Entire home/apt', 2, 615.0),
 (3, 'East Harlem', 'Shared room', 2, 607.0),
 (6, "Hell's Kitchen", 'Shared room', 2, 599.0),
 (47, 'Fort Hamilton', 'Entire home/apt', 2, 599.0),
 (40, 'Gramercy', 'Private room', 2, 587.0),
 (97, 'Midwood', 'Private room', 2, 576.0),
 (163, 'Highbridge', 'Private room', 2, 558.0),
 (80, 'Woodside', 'Entire home/apt', 2, 556.0),
 (84, 'Arverne', 'Entire home/apt', 2, 542.0),
 (70, 'Canarsie', 'Entire home/apt', 2, 532.0),
 (31, 'Kingsbridge', 'Entire home/apt', 2, 528.0),
 (19, 'Financial District', 'Private room', 2, 489.0),
 (57, 'Wakefield', 'Private room', 2, 467.0),
 (1, 'Kensington', 'Private room', 2, 466.0),
 (89, 'Ditmars Steinway', 'Entire home/apt', 2, 448.0),
 (138, 'Norwood', 'Private room', 2, 434.0),
 (9, 'South Slope', 'Private room', 2, 420.0),
 (103, 'Port Morris', 'Entire home/apt', 2, 367.0),
 (49, 'Sunset Park', 'Private room', 2, 364.0),
 (55, 'East Flatbush', 'Entire home/apt', 2, 362.0),
 (15, 'Flatlands', 'Private room', 2, 311.0),
 (212, 'Breezy Point', 'Private room', 2, 181.0),
 (191, 'Schuylerville', 'Private room', 1, 1188.0),
 (183, 'Bath Beach', 'Entire home/apt', 1, 1135.0),
 (11, 'Harlem', 'Shared room', 1, 1108.0),
 (86, 'Tottenville', 'Entire home/apt', 1, 1101.0),
 (115, 'Parkchester', 'Entire home/apt', 1, 1096.0),
 (33, 'Boerum Hill', 'Private room', 1, 1096.0),
 (90, 'Mariners Harbor', 'Private room', 1, 1091.0),
 (81, 'Rego Park', 'Shared room', 1, 1076.0),
 (36, 'Crown Heights', 'Shared room', 1, 1075.0),
 (101, 'DUMBO', 'Entire home/apt', 1, 1059.0),
 (31, 'Kingsbridge', 'Private room', 1, 1049.0),
 (8, 'Bushwick', 'Shared room', 1, 928.0),
 (69, 'Jackson Heights', 'Entire home/apt', 1, 925.0),
 (30, 'Inwood', 'Entire home/apt', 1, 923.0),
 (127, 'University Heights', 'Private room', 1, 906.0),
 (98, 'College Point', 'Private room', 1, 890.0),
 (183, 'Bath Beach', 'Private room', 1, 883.0),
 (50, 'Concourse', 'Private room', 1, 876.0),
 (118, 'Richmond Hill', 'Private room', 1, 861.0),
 (107, 'Red Hook', 'Entire home/apt', 1, 839.0),
 (136, 'Longwood', 'Entire home/apt', 1, 827.0),
 (67, 'Columbia St', 'Entire home/apt', 1, 811.0),
 (108, 'Maspeth', 'Private room', 1, 802.0),
 (121, 'Kew Gardens Hills', 'Entire home/apt', 1, 794.0),
 (56, 'Nolita', 'Entire home/apt', 1, 784.0),
 (147, 'Far Rockaway', 'Private room', 1, 782.0),
 (2, 'Midtown', 'Shared room', 1, 780.0),
 (76, 'Civic Center', 'Entire home/apt', 1, 769.0),
 (106, 'Cypress Hills', 'Entire home/apt', 1, 752.0),
 (149, 'Corona', 'Entire home/apt', 1, 745.0),
 (12, 'Gowanus', 'Private room', 1, 716.0),
 (32, 'Astoria', 'Shared room', 1, 710.0),
 (201, 'Little Neck', 'Shared room', 1, 700.0),
 (13, 'Clinton Hill', 'Private room', 1, 658.0),
 (43, 'Sheepshead Bay', 'Private room', 1, 636.0),
 (91, 'East Elmhurst', 'Entire home/apt', 1, 636.0),
 (68, 'Mott Haven', 'Private room', 1, 630.0),
 (205, 'Hollis', 'Private room', 1, 609.0),
 (66, 'Briarwood', 'Private room', 1, 592.0),
 (98, 'College Point', 'Entire home/apt', 1, 587.0),
 (104, 'Queens Village', 'Entire home/apt', 1, 581.0),
 (72, 'Battery Park City', 'Entire home/apt', 1, 573.0),
 (153, 'Manhattan Beach', 'Entire home/apt', 1, 567.0),
 (17, 'West Village', 'Private room', 1, 534.0),
 (74, 'Tribeca', 'Entire home/apt', 1, 505.0),
 (4, 'Murray Hill', 'Private room', 1, 461.0),
 (136, 'Longwood', 'Private room', 1, 446.0),
 (21, 'Park Slope', 'Private room', 1, 422.0),
 (75, 'Two Bridges', 'Entire home/apt', 1, 405.0),
 (156, 'Hunts Point', 'Private room', 1, 405.0),
 (188, 'Oakwood', 'Entire home/apt', 1, 403.0),
 (104, 'Queens Village', 'Private room', 1, 398.0),
 (53, 'St. Albans', 'Entire home/apt', 1, 384.0),
 (158, 'Randall Manor', 'Entire home/apt', 1, 362.0),
 (84, 'Arverne', 'Private room', 1, 361.0),
 (97, 'Midwood', 'Entire home/apt', 1, 346.0),
 (60, 'Clifton', 'Private room', 1, 346.0),
 (174, 'Cambria Heights', 'Entire home/apt', 1, 331.0),
 (134, 'Brownsville', 'Private room', 1, 330.0),
 (29, 'Carroll Gardens', 'Private room', 1, 310.0),
 (52, 'Brighton Beach', 'Entire home/apt', 1, 299.0),
 (87, 'Tompkinsville', 'Entire home/apt', 1, 290.0),
 (77, 'SoHo', 'Private room', 1, 235.0),
 (18, 'Prospect Heights', 'Private room', 1, 227.0),
 (51, 'Kips Bay', 'Shared room', 1, 221.0),
 (73, 'Morningside Heights', 'Entire home/apt', 1, 219.0),
 (97, 'Midwood', 'Shared room', 1, 181.0),
 (167, 'Laurelton', 'Entire home/apt', 1, 169.0),
 (115, 'Parkchester', 'Private room', 1, 132.0),
 (22, 'Flatiron District', 'Private room', 1, 128.0),
 (14, 'East Village', 'Shared room', 1, 66.0),
 (143, 'Fresh Meadows', 'Entire home/apt', 1, 57.0)]

##### Q20/20: What are the estimated costs for short-term and extended stays across different room types?
#### Based on available data, what would a guest expect to pay for a short stay (fewer than 7 nights) or a long stay (more than 7 nights) as <strong>stay_type</strong>, and which <strong>room types</strong> are available at those <strong>price</strong> points?

In [26]:
%%sql

SELECT  
    CASE 
    WHEN minimum_nights < 7 THEN 'Short Stay (<7 nights)'
    ELSE 'Long Stay (≥7 nights)'
    END AS stay_type,
    rt.type,
    ROUND(AVG(price),2) AS price
FROM Listings l
JOIN room_types rt ON l.room_type_id = rt.room_type_id
GROUP BY stay_type, rt.type
ORDER BY price DESC;

 * sqlite:///airbnb_nyc.db
Done.

[('Short Stay (<7 nights)', 'Shared room', 791.93),
 ('Long Stay (≥7 nights)', 'Entire home/apt', 629.66),
 ('Short Stay (<7 nights)', 'Entire home/apt', 628.4),
 ('Short Stay (<7 nights)', 'Private room', 615.38),
 ('Long Stay (≥7 nights)', 'Private room', 568.29),
 ('Long Stay (≥7 nights)', 'Shared room', 564.33)]

In [39]:
%%sql

SELECT *
FROM cancellation_policies

 * sqlite:///airbnb_nyc.db
Done.

[(3, 'flexible'), (2, 'moderate'), (1, 'strict')]